absl-py              0.10.0
astor                0.8.1
certifi              2020.6.20
chardet              3.0.4
cycler               0.10.0
cymem                1.31.2
cytoolz              0.9.0.1
decorator            4.4.2
dill                 0.2.9
elmoformanylangs     0.0.4.post2
future               0.18.2
gast                 0.4.0
google-pasta         0.2.0
gputils              1.0.6
grpcio               1.32.0
h5py                 2.10.0
idna                 2.10
importlib-metadata   2.0.0
isodate              0.6.0
jieba                0.42.1
Keras-Applications   1.0.8
Keras-Preprocessing  1.1.2
kiwisolver           1.2.0
Markdown             3.2.2
matplotlib           3.3.2
msgpack              0.6.2
msgpack-numpy        0.4.7.1
murmurhash           0.28.0
networkx             2.5
nltk                 3.3
numpy                1.16.2
overrides            3.1.0
pandas               0.24.2
Pillow               7.2.0
pip                  20.2.2
plac                 0.9.6
plyfile              0.7.2
preshed              1.0.1
progressbar          2.5
protobuf             3.13.0
pyparsing            2.4.7
pytest-runner        5.2
python-dateutil      2.8.1
pytz                 2020.1
pyzmq                19.0.2
rdflib               5.0.0
regex                2017.4.5
requests             2.24.0
scikit-learn         0.20.3
scipy                1.2.1
setuptools           50.3.0
six                  1.15.0
spacy                2.0.12
tensorboard          1.14.0
tensorflow-estimator 1.14.0
tensorflow-gpu       1.14.0
termcolor            1.1.0
thinc                6.10.3
toolz                0.11.1
torch                1.1.0
torch-cluster        1.2.4
torch-geometric      1.2.0
torch-scatter        1.1.2
torch-sparse         0.4.0
tqdm                 4.50.2
ujson                4.0.1
urllib3              1.25.10
Werkzeug             1.0.1
wheel                0.35.1
wrapt                1.10.11
zipp                 3.2.0
